<div class="filters panel panel-default" ng-show="stages.length">
  <div class="panel-heading">Search</div>
  <div class="panel-body">
    <form id="filter_form">
      <input name="name" type="text" class="form-control" placeholder="Filter field by name" ng-model="$parent.nameFilter"/>
      <div id="stage">
        <h5>Field Stage</h5>
        <a ng-repeat="stage in stages" class="btn btn-default btn-xs" ng-click="toggleStageFilter(stage)" ng-class="{'btn-primary': isStageInFilter(stage) }">{{ stage }}</a>
      </div>
      <div id="host">
        <h5>Field Category</h5>
        <a ng-repeat="host in hosts" class="btn btn-default btn-xs" ng-click="toggleHostFilter(host)" ng-class="{'btn-primary': isHostInFilter(host) }">{{ host }}</a>
      </div>
      <div id="technos">
        <h5>Component Type</h5>
        <a ng-repeat="techno in technos" class="btn btn-default btn-xs" ng-click="toggleTechnoFilter(techno)" ng-class="{'btn-primary': isTechnoInFilter(techno) }">{{ techno }}</a>
      </div>
    </form>
  </div>
</div>
